# SendGrid
SENDGRID_API_KEY=sua_chave_aqui
EMAIL_FROM=seuemail@gmail.com
EMAIL_FROM_NAME=Manshot

# Twilio
TWILIO_ACCOUNT_SID=seu_sid_aqui
TWILIO_AUTH_TOKEN=seu_token_aqui
TWILIO_PHONE_FROM=+5521999999999

# Telegram
TELEGRAM_BOT_TOKEN=seu_token_aqui
